.search {
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.search h2 {
    color: white;
    text-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    margin: 30px auto 10px auto;
    font-size: 30px;
    width: 80%;
}

.search__input {
    margin: 10px auto;
    border-radius: 15px;
    border: none;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.3);
    color: white;
    width: 80%;
    font-size: 16px;
    padding: 12px 20px;
}

.search__input::-webkit-input-placeholder {
    color: #ccc;    
}

.search__input:-moz-placeholder {
    color: #fff;    
}

.resultados {
    background-color: white;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.resultados ul{
    display: inline-block;
    width: 100%;
    
    margin: 0;
    padding: 0
}

.resultados ul li {
    display: inline-block;
    width: 100%;
    box-sizing: border-box; 
    max-width: 100%;
    padding: 10px 20px;
}

.resultados ul a {
    display: flex;
    text-decoration: none;
}

.resultados ul a .datos {
    width: 100%;
    display: flex;
    text-align: left;
}

.resultados ul a .datos .texto {
    width: 60%;
    padding-left: 10%;
}

.resultados ul a .datos .precio {
    width: 30%;
    text-align: center;
    font-size: 25px;
}

.precio h5 {
    margin:20px 0;
}

.texto h3, .texto h4 {
    margin: 0;
    margin-top: 10px;
}

.resultados img {
    width: 80px;
    height: 80px;
}

.search button {
    font-family: 'Raleway', sans-serif;
    padding: 7px 30px;
    margin: 10px;
    font-weight: bold;
    background-color: transparent;
    color: #eee;
    border: none;
    text-decoration: underline;
    transition: 0.3s;
}

.search button:hover {
    cursor: pointer;
    color: rgba(249, 242, 55, 0.8);
}

@media screen and (max-width: 414px){
    .search {
        width: 95%;
    }
    .search h2 {
        font-size: 20px;
    }
    .resultados ul a img {
        width: 50px;
        height: 50px;
    }
    .resultados ul a .datos {
        flex-direction: column;
        font-size: 14px;
        flex-direction: row;
    }
    .resultados ul a .datos .texto h4 {
        margin-top: 0;
    }

    .resultados ul a .datos .precio {
        font-size: 19px;
    }

    .resultados {
        width: 93%;
    }
}

@media screen and (min-width: 415px) and (max-width: 800px){
    .search {
        width: 70%;
    }
    .search h2 {
        font-size: 22px;
    }
}